.{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(porbg.jpg);
    background-position: center;
    background-size: cover;
    
}
.navbar h1{
    color: #000;
    margin-left: 35%;
    font-size: 80px;
    font-weight: bold;
}
ul{
    margin-left: 10%;
}
ul h2{
    color: rgb(32, 27, 27);
    font-size: 30px;
    text-decoration:underline;
}
ul li{
    color: rgb(73, 153, 156);
    line-break: loose;
    font-size: 20px;
}
