.one{
    color: aliceblue;
    background-color:black;
    padding-top: 30px;
    padding-left: 5%;
    margin: top 20px;  

} 

.one.icon{
    position:absolute;
    top: 30%;
    right: 5%;
    width: 10px;
    background-color:white;
    color: aliceblue;
    
}
.one h2{
    margin: 0;
}
.two{
     margin-left: 20%;
}
.two h2{
    margin-left:20%;
    font-size: 50px;
    
}
.two p{
    margin-left: 0%;
    font-size: 30px;
    letter-spacing: 1px;
}
ul{
     margin-left: 0%;
    font-size: 30px;
    letter-spacing: 1px;
}

