.{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins';
    box-sizing: border-box;
    background-color: cornsilk;
}
h1{
    margin-bottom: 20p ;
    text-align: center; 
    font-size: 60px;
    color: #1f2937;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(../cal/bg.jpg);
    align-items: center;
    display: flex;
    justify-content: center;
}
.calculator{
    background:#ffff;
    padding: 30px;
    border-radius:20px ;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    border: 2px solid #3b82f6;
    margin-bottom: 80px;
    border-radius: 20px;
    

}
.calculator::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform: scaleY(-1);
    opacity: 0.08;
    filter: blur(3px);
    border-radius: 20px;
    pointer-events: none;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow:-8px -8px 15px rgba(255,255,255,0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px; 
    

}
.calculator form input:hover{
    background-color: #c792fe;
    transition: 0.2s ease;
}
form input.butt{

    color:#1f2937;
    background-color: #e0e7ff;
    border: none;
    border-radius: 50% ;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    font-size: 25px;
 

}


form input.operator{

     color:#1f2937;
    background-color: #e0e7ff;
    border: none;
    border-radius: 50% ;
    padding: 15px;
    font-size: bold;
    cursor: pointer;
    

}






form .ipop{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #6d6f70;
    border: 5px;
    border-color: #f6f6f7;
    border-radius: 10px;
    padding: 12px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}
form .ipop  input{
    box-shadow: none;
    text-align: right;
    flex: 1;
    font-size: 40px;
    color: #f0f4f8;
    font-family: Arial,  sans-serif;
    padding: 5px;
    background-color: transparent;
    border: none;
    
    
}